/*Wrap elements in #wrapper to keep #footer at bottom of page when you don't have enough content to fill an entire page*/
#my-wrapper {
  min-height:100%;
	position:relative;
}
#my-header {

}
#my-content{
  padding-bottom: 100px; /*height of #footer*/
}
#my-footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #606060;
}
